@typeparam TItem
@inject IJSRuntime JsRuntime

@if (DataSource is not null)
{
    <div class="jg-grid-container @(Virtualize ? "virtual" : "")">
    @if (Virtualize)
    {
        <Virtualize Items="@DataSource" TItem="TItem">
            @ChildContent(context)
        </Virtualize>
    }
    else
    {
        foreach (TItem item in DataSource ?? Array.Empty<TItem>())
        {
            <div>
                @ChildContent(item)
            </div>
        } 
    }
    </div>
    
}


@code {
    [Parameter] 
    public ICollection<TItem>? DataSource { get; set; }

    [Parameter]
    public bool Virtualize { get; set; }
    [Parameter] 
    public RenderFragment<TItem>? ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.InvokeVoidAsync("JGGrid.init");
    }

}