@typeparam TItem

@if (DataSource is not null)
{
    
    <div class="jg-grid-container">
        @foreach (TItem item in DataSource ?? Array.Empty<TItem>())
        {
            @ChildContent(item)
        }
    </div>
    
}


@code {
    
    [Parameter] public IEnumerable<TItem>? DataSource { get; set; }
    [Parameter] public RenderFragment<TItem>? ChildContent { get; set; }
}