

<div id="@Id" class="jg-card-container" draggable="true" >
    <div class="card-inner-border">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public string Id { get; set; } = "1";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    
}