<div aria-label="@ToolTip" data-title="@ToolTip">
    @{
        if (ChildContent is not null)
        {
            @ChildContent
        }
    }
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? ToolTip { get; set; }
}