.jg-card-container[b-jay4nq2zx5] {
    border: 1px solid whitesmoke;
    height: 250px;
    width: 250px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.card-inner-border[b-jay4nq2zx5] {
    height: 100%;
    background-color: cadetblue;;
}